@import "index.css";
.global{
    margin-top: 50px;
    margin-bottom:50px;
    margin-left:100px;
    margin-right:100px;
}
nav img{
    width: 10%;
}
.vehicule{
    display: flex;
    flex-wrap: wrap;
    margin-top: 30px;
    margin-bottom: 30px;
    justify-content: center;
}
.item{
    box-shadow: 0px 5px 18px rgba(0, 0, 0, 0.151);
    flex:1;
    max-width: 40%;
    margin: 20px 12px;
    text-align: center;

}
.item:hover{
    transform: scale(1.1);
}
.item img{
    width:100%;
}
.type h1{
    text-align: center;
}
.global h1{
    background: #FFCA00;
}

@media only screen and (max-width:37.5em){

.global{
    margin: 50px;
}
nav img{
    width: 30%;
}
.vehicule{
    display: flex;
    flex-wrap: wrap;
    margin-top: 30px;
    margin-bottom: 30px;
}
.item{
    box-shadow: 0px 5px 18px rgba(0, 0, 0, 0.151);
    flex:50%;
    max-width: 40%;
    margin: 20px 12px;
    text-align: center;

}

}